/* reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 62.5%; /* 1 rem = 10px by default but is still user changable */
}

body {
    box-sizing: border-box; /* border and padding is not added to total width or height of element */
}

.content {
    -ms-overflow-style: none; /* Hide scrollbars - IE and Edge */
    scrollbar-width: none; /*  Hide scrollbars - Firefox */
    display: flex;
    overflow-x: auto;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.content > a {
    text-decoration: none;
}

header {
    font: 8vh 'Fira Sans', sans-serif;
    text-align: center;
}

.risk-detail::-webkit-scrollbar {
    display: none; /* Hide scrollbars - Chrome & Safari */
}

.risk-detail {
    font: 5vh 'Fira Sans', sans-serif;
    padding: 3rem;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.dashboard > a {
    text-decoration: none;
    color: black;
}

.dashboard {
    width: 100%;
    font: 5vh 'Fira Sans', sans-serif;
    margin: 0;
    flex-shrink: 0;
    padding: .3rem;
    scroll-snap-align: start;
}

.dashboard-element {
    margin: .5rem;
    padding: .3rem;
    border: solid
}

.title {
    border-bottom: 1vh black solid;
}

.mitigation > .title {
    color: orchid;
    border-bottom-color: orchid;
}

.contingency > .title {
    color: olive;
    border-bottom-color: olive;
}

.impact > .title {
    color: royalblue;
    border-bottom-color: royalblue;
}

.badge {
    border-radius: 2vh;
    font-size: 75%;
    padding: .5vh;
}

.badge-high {
    background: Red;
}

.badge-medium {
    background: yellow;
}

.badge-low {
    background: green;
}

.badge-high::before {
    content: "High";
}

.badge-medium::before {
    content: "Medium";
}

.badge-low::before {
    content: "Low";
}