/* reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 62.5%; /* 1 rem = 10px by default but is still user changable */
    --background-color: #cadfff;
    --mitigation-color: orchid;
    --contingency-color: olive;
    --impact-color: royalblue;
}

body {
    box-sizing: border-box; /* border and padding is not added to total width or height of element */
    overflow: hidden; /* hide scrollbar otherwise transitions will temporarily create scrollbars */
}

.content {
    position: relative;
}

.content > a {
    text-decoration: none;
}

header {
    font: 1.8rem 'Roboto', sans-serif;
    background-color: var(--background-color);
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.settings {
    font-weight: bold;
}

.risk-detail {
    font: 2rem 'Roboto', sans-serif;
    font-size: large;
    padding: 3rem;
    width: 100%;
}

.dashboard > a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

.fix-width {
    min-width: 1rem;
}

.positioned {
    position: absolute;
    left: 0;
    top: 0;
}

.dashboard {
    width: 100%;
    font: 2rem 'Roboto', sans-serif;
    font-size: large;
    margin: 0;
    padding: .3rem;
}

.dashboard-element {
    padding-bottom: .3rem;
    padding-top: .3rem;
    border-bottom: solid;
    border-bottom-width: 2px;
    display: flex;
    align-items: flex-start;
}

.title {
    border-bottom: 2px black solid;
}

.mitigation > .title {
    color: var(--mitigation-color);
    border-bottom-color: var(--mitigation-color);
}

.contingency > .title {
    color: var(--contingency-color);
    border-bottom-color: var(--contingency-color);
}

.impact > .title {
    color: var(--impact-color);
    border-bottom-color: var(--impact-color);
}

.badge {
    border-radius: 1rem;
    font-size: 75%;
    margin: 1px;
    margin-right: 2ch;
    padding: 4px 8px;
    min-width: 9ch;
    display: inline-block;
    color: whitesmoke;

}

.badge-high {
    background:#DC3545;
}

.badge-medium {
    background: #EFA73C;
}

.badge-low {
    background: #29C338;
}

.badge-high::before {
    content: "High";
}

.badge-medium::before {
    content: "Medium";
}

.badge-low::before {
    content: "Low";
}