#result {
    display: none;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
}

#resultIcon {
    flex: 0.1 1 auto;      
}

#resultTemperature {
    font-size: xx-large;
}

#resultTemperature::after {
    content: ' °c'
}

#loading {
    display: none;
}

body {
    background-color: #ccffff;
}