#result {
    display: none;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
}

#resultPicture {
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
    flex-flow: column nowrap;
    flex: 0.1 1 auto; /* grows a tiny bit with screen */
}

#resultPicture > #resultIcon {
    flex: 1 1 auto;
}

#resultPicture > #resultTemperature {
    font-size: xx-large;
}

#resultPicture > #resultTemperature::after {
    content: ' °c'
}

#loading {
    display: none;
}

body {
    background-color: #ccffff;
}